.cart{
    position: sticky;
    top: 0;
    padding: 15px 20px;
    width: 15rem;
    background-color: rgba(229, 233, 236, 0.39);
    border-radius: 10px;
    margin: auto;
}

.cart-title {
    font-weight: 500;
}
